<script type="text/javascript">
    function deferDateTimePicker_id_delivery_date() {
    if (window.jQuery && $.fn.datetimepicker) {
        $('#id_delivery_date').datetimepicker({
            "format": "1",
            "icons": {
                "time": "fa fa-clock-o"
            },
            "locale": "en-us"
        });
    } else {
        setTimeout(function () {
            deferDateTimePicker_id_delivery_date()
        }, 50);
    }
}

deferDateTimePicker_id_delivery_date();
</script>