{% extends 'base.html' %}
{% load static %}

{% block content %}
{% csrf_token %}

<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">Stuck in that office?</div>
        <div class="masthead-heading text-uppercase">Hungry for lunch?</div>
        <a class="btn btn-primary btn-danger btn-xl text-uppercase" href="#services">Order food now!</a>
    </div>
</header>
{% if messages %}
<div class="message-container"></div>
{% endif %}



<!-- Services-->
<footer class="footer-section" id="services">
    <div class="container">

        <div class="row">

            <div class="col-md-4">

                <h4 class="my-3">Send us your favourite sandwich recipe!</h4>
                <a href="#">
                    <p>*And win a week's free lunch!</p>
                </a>
                <div>
                    <form>
                        <div class="form-group text-white w-50">
                            <label for="formControlInput1">Your name*</label>
                            <input type="text" class="form-control" id="formControlInput1">
                        </div>


                        <div class="form-group text-white w-50">
                            <label for="formControlInput2">Your email address*</label>
                            <input type="email" class="form-control" id="formControlInput2"
                                placeholder="name@email.com">
                        </div>



                        <div class="form-group text-white w-50">
                            <label for="exampleFormControlTextarea1">Your recipe*</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary mb-3">Submit</button>
                    </form>
                </div>

            </div>
            <div class="col-md-4">

                <h4 class="my-3 text-center">Quality ingredients</h4>
                <p class="text-center"><i class="fas fa-certificate fa-3x"></i></p>
                <p class="text-white">Our promise to you: we are only using fresh and carefully selected ingredients.
                    Every plate of our quality artisan food starts with locally sourced, hand picked
                    ingredients. Once you try it, our food will be a blissful addition to your daily routine! We cater
                    for vegetarian and vegan customers!</p>
            </div>
            <div class="col-md-4">

                <h4 class="my-3 text-center">Social media</h4>
                <p class="text-center"><i class="fas fa-user-friends fa-3x"></i></p>
                <p class="text-white">Check us out on social media! Our company also has a Facebook page where you can
                    like and follow us.</p>
                <a href="https://www.facebook.com/" target="_blank">
                    <p class="text-center text-white"><i class="fab fa-facebook fa-3x"></i></p>
                </a>
                <a href="https://www.twitter.com/" target="_blank">
                    <p class="text-center text-white"><i class="fab fa-twitter fa-3x"></i></p>
                </a>
                <a href="https://www.instagram.com/" target="_blank">
                    <p class="text-center text-white"><i class="fab fa-instagram fa-3x"></i></p>
                </a>
            </div>

        </div>




    </div>
    
        <div class="row">
            
                <div class="footer-lower col-md-4"><h6 class="my-3 text-center"><a href="#">Sitemap</a></h6></div>
                <div class="footer-lower col-md-4"><h6 class="my-3 text-center">Copyright &copy; Renata Lantos 2021 <a href="https://github.com/renatalantos" target="_blank" class="github-icon"><i class="fab fa-github text-white"></i></a></h6></div>
                <div class="footer-lower col-md-4"><h6 class="my-3 text-center"><a a href="#">Privacy Statement</a></h6></div>
            </div>
        </div>
    </div>
</footer>
{% endblock %}