{% extends 'base.html' %}
{% load static %}

{% block content %}
{% csrf_token %}

<div class="overlay"></div>
<div class="container mb-5 pb-5">
    <div class="row mt-5 pt-5">
        <div class="col mt-5 pt-5">
        
            <h2 class="logo-font mb-4">Your shopping basket <i class="fas fa-shopping-basket"></i></h2>
            
        </div>
    </div>

    <div class="row mb-5 pb-5">
        <div class="col mb-5 pb-5">
            {% if basket_items %}
            <div class="table-responsive rounded">
                <table class="table table-sm table-borderless">
                    <thead class="text-black">
                        <tr>
                            <th scope="col"><p class="prod-text">Product Info</p></th>
                            <th scope="col"><p class="prod-text"></p></th>
                            <th scope="col"><p class="prod-text">Price</p></th>
                            <th scope="col"><p class="prod-text">Number of items</p></th>
                            <th scope="col"><p class="prod-text">Subtotal</p></th>
                        </tr>
                    </thead>

                    {% for item in basket_items %}
                        <tr>
                            <td class="p-3 w-25">
                                <img class="img-fluid rounded" src="{{ item.product.image.url }}">
                            </td>
                            <td class="py-3">
                                <p class="my-0 prod-text"><strong>{{ item.product.name }}</strong></p>
                                <p class="my-0 small text-muted prod-text">Product number: {{ item.product.product_number|upper }}</p>
                            </td>
                            <td class="py-3">
                                <p class="my-0 prod-text">€{{ item.product.price }}</p>
                            </td>
                            <td class="py-3 w-25">
                                <p class="my-0 prod-text">{{ item.quantity }}</p>
                            </td>
                            <td class="py-3">
                                <p class="my-0 prod-text">€{{ item.product.price }}</p>
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="5" class="pt-5 text-right prod-text">
                            <h6><strong>Basket Total: €{{ total|floatformat:2 }}</strong></h6>
                            <h6>Delivery: €{{ delivery|floatformat:2 }}</h6>
                            <h4 class="mt-4 prod-text"><strong>Final Total: €{{ final_total|floatformat:2 }}</strong></h4>
                            
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" class="text-right">
                            <a href="{% url 'products' %}" class="btn shop-basket-btn btn-secondary rounded-1 btn-lg">
                                <span class="icon text-white">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="text-uppercase">Keep Shopping</span>
                            </a>
                            <a href="" class="btn btn-primary border-dark rounded-1 btn-lg">
                                <span class="text-uppercase shop-basket-btn">Secure Checkout</span>
                                <span class="icon">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </a>
                        </td>
                    </tr>
                </table>

                
            {% else %}
                <p class="lead mb-5">Your basket is empty.</p>
               <!-- <p class="lead mb-5 fw-bold">Don't stay hungry.</p>-->
                <a href="{% url 'products' %}" class="shop-basket-btn btn btn-primary rounded-1 btn-lg">
                    <span class="icon text-white">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Keep Shopping</span>
                </a>
            {% endif %}
        </div>
    </div>
</div>
{% if messages %}
<div class="message-container"></div>
{% endif %}




{% endblock %}