<div class="container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars ms-1"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ms-auto w-auto mx-auto py-4 py-lg-0">

            <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>

            <li class="nav-item dropdown rounded-0"><a class="nav-link" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false" href="#all_products">All in our store</a>
                <div class="dropdown-menu border-0 text-capitalize">
                    <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>

                    <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item">By Category</a>
                    <a href="{% url 'products' %}?sort=calory&direction=asc" class="dropdown-item">By Calory
                        count</a>

                    <a class="dropdown dropright">
                        <a class="dropdown-toggle dropdown-item " data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">By Lifestyle Choice</a>
                    </a>

                    <div class="dropdown-menu display-on-right">
                        <a class="dropdown-item" href="{% url 'products' %}?sort=vegan&direction=desc">Vegan</a>
                        <a class="dropdown-item"
                            href="{% url 'products' %}?sort=vegetarian&direction=desc">Vegetarian</a>
                        <a class="dropdown-item" href="{% url 'products' %}?sort=gluten&direction=asc">Gluten-free</a>
                    </div>
                    <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
                </div>

            </li>
            <li class="nav-item dropdown"><a class="nav-link" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false" href=" #food">Food</a>
                <div class="dropdown-menu border-0 text-capitalize" aria-labelledby="food-link">
                    <a href="{% url 'products' %}?category=sandwiches" class="dropdown-item">Sandwiches</a>
                    <a href="{% url 'products' %}?category=salads" class="dropdown-item">Salads</a>
                    <a href="{% url 'products' %}?category=snacks" class="dropdown-item">Snacks</a>
                    <a href="{% url 'products' %}?category=pasta_noodles" class="dropdown-item">Pasta and Noodles</a>
                    <a href="{% url 'products' %}?category=sandwiches,salads,snacks,pasta_noodles"
                        class="dropdown-item">All Food</a>
                </div>
            </li>
            <li class="nav-item dropdown"><a class="nav-link" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false" href="#drinks">Drinks</a>
                <div class="dropdown-menu border-0 text-capitalize" aria-labelledby="drinks-link">
                    <a href="{% url 'products' %}?category=smoothies_juices" class="dropdown-item">Smoothies &amp;
                        Juices</a>
                    <a href="{% url 'products' %}?category=mineral_water" class="dropdown-item">Mineral Water</a>
                    <a href="{% url 'products' %}?category=fizzy_drinks" class="dropdown-item">Fizzy drinks</a>
                    <a href="{% url 'products' %}?category=smoothies_juices,mineral_water,fizzy_drinks"
                        class="dropdown-item">All Drinks</a>
                </div>
            </li>
            <li class="nav-item dropdown"><a class="nav-link" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false" href="#specials">Specials</a>
                <div class="dropdown-menu border-0 text-capitalize" aria-labelledby="specials-link">
                    <a href="" class="dropdown-item">Lunch deal</a>
                    <a href="" class="dropdown-item">Weekly deals</a>
                    <a href="" class="dropdown-item">Validate a Voucher</a>
                    <a href="" class="dropdown-item">Sandwich recipe winners</a>

                </div>

            </li>
        </ul>
        <ul class="navbar-nav text-uppercase">
            <!-- <li class="nav-item"><a class="nav-link" href="#specials"><i class="fas fa-phone-alt fa-lg"></i></a>
            </li>-->




            <li class="nav-item dropdown">
                {% if request.user.is_authenticated %}
                <a class="nav-link"data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false" ><i class="fas fa-user fa-lg"></i> {{user.username}}</a>
                {% else%}

                <a class="nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <i class="fas fa-user fa-lg"></i>
                </a>
                {% endif %}
                <div class="dropdown-menu border-0 text-capitalize" aria-labelledby="user-options">
                    {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}


                    <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                    {% endif %}
                    <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                    <a href="{% url 'favourites' %}" class="dropdown-item">Favourites 
                        {% if favourites_count %}
                        ({{ favourites_count}})
                        {% else %}
                        (0)
                        {% endif %}
                    </a>
                    <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                    {% else %}
                    <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                    <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                    {% endif %}
                </div>
            </li>
            <li class="nav-item"><a class="nav-link" href="{% url 'search' %}"><i class="fas fa-search fa-lg"></i></a>

            </li>
            
            <li class="nav-item">
                <a class="{% if final_total %}text-info font-weight-bold{% else %}text-white{% endif %} nav-link"
                    href="{% url 'view_basket' %}">

                    <i class="fas fa-shopping-basket fa-lg"></i>

                    {% if final_total %}
                    €{{ final_total|floatformat:2 }}
                    {% else %}
                    €0.00
                    {% endif %}


                </a>
            </li>



        </ul>
    </div>
</div>
</div>