{% extends "base.html" %}
{% load static %}
{% block js %}


{% endblock %}


{% block content %}




<div class="overlay"></div>
<div class="container mb-5 pb-5">
    <div class="row mt-5 pt-5">
        <div class="col mt-3 pt-3">

            <div class="col-12 col-md-6">
                <div class="allauth-form-inner-content">
                    {% block inner_content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
{% endblock %}
