{% extends "base.html" %}
{% load static %}




{% block content %}

<section class="py-5">
    <div class="overlay"></div>

    <div class="container px-4 px-lg-5 pt-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">

            <div class="col-md-6">

                {% if product.image %}
                <a href="{{ product.image.url }}" target="_blank">
                    <img class="card-img-top rounded-0" src="{{ product.image.url }}" alt="{{ product.name }}" />
                </a>
                {% else %}
                <a href="" target="_blank">
                    <img class="card-img-top img-fluid rounded-0" src="{{ MEDIA_URL }}noimage.png"
                        alt="{{ product.name }}">
                </a>
                {% endif %}</div>
            <div class="col-md-6">

                <p class="product-name lead fw-bolder">{{ product.name }} </p>

                <p class="lead">{{ product.description }}</p>

                {% if product.category %}
                <div class="mb-2 product-info">
                    <span> <a class="text-decoration-none product-info"
                            href="{% url 'products' %}?category={{ product.category.name }}">
                            <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                        </a></span>
                </div>
                {% endif %}


                <div class="mb-2 product-info">

                    <span>{{ product.calory }} kcal per portion</span>
                </div>

                {% if product.gluten %}
                <div></div>

                {% else %}
                <div class="mb-2 product-info">

                    <span>Gluten-free <i class="fas fa-check me-1"></i></span>
                </div>
                {% endif %}

                {% if product.vegetarian %}
                <div class="mb-2 product-info">

                    <span>Vegetarian <i class="fas fa-check me-1"></i></span>
                </div>


                {% else %}
                <div></div>
                {% endif %}

                {% if product.vegan %}
                <div class="mb-2 product-info">

                    <span>Vegan <i class="fas fa-check me-1"></i></span>
                </div>


                {% else %}
                <div></div>
                {% endif %}

                {% if product.option_grilled %}
                <div class="mb-2 product-info">

                    <span>Grilled at request <i class="fas fa-check me-1"></i></span>
                </div>


                {% else %}
                <div></div>
                {% endif %}


                {% if product.lunch_deal %}
                <div class="mb-2">

                    <span class="product-info"><a href="#" class="text-decoration-none product-info">Lunch Deal Item
                        </a><i class="fas fa-check me-1"></i></span>
                </div>


                {% else %}
                <div></div>
                {% endif %}

                {% if user.is_authenticated %}

                <form class="d-inline" action="{% url 'add_to_favourites' product.id %}" method="POST">
                    {% csrf_token %}
                    {% if product_is_favorite %}
                    <button type="submit" name="add_favourite_id" value="{{ product.id }}"
                        class="border-0 product-info btn-like pl-0">Added to favourites <i
                            class="fas fa-heart fa-lg heart"></i></button>
                    {% else %}
                    <button type="submit" name="add_favorite_id" value="{{ product.id }}"
                        class="border-0 product-info btn-like pl-0">
                        Add to favourites <i class="far fa-heart fa-lg heart"></i></button>
                    {% endif %}
                </form>

                {% else %}


                <span class="product-info"><i class="far fa-heart fa-lg"></i></span>
                {% endif %}






                <div>

                    <span class="price-info">€ {{ product.price }} *</span><span class="price-info-small"> price always
                        refers to single bottle / can / bag of items even if image is different</span>
                </div>

                <div>

                    <form class="form" action="{% url 'add_to_basket' product.id %}" method="POST">
                        {% csrf_token %}
                        {% with product.option_grilled as grill %}
                        {% if grill %}

                        <div class="mb-2 product-info rounded-1 grill-box d-inline">

                            <div class="d-inline-block">
                                <p>Want it grilled?</p>
                            </div>
                            <div class="d-inline-block"><select class="form-control rounded-1" name="grilled"
                                    id='id_product_grilled'>
                                    <option value="grilled">YES</option>
                                    <option value="not grilled" selected>NO</option>
                                </select></div>


                        </div>


                        {% endif %}
                        <br>
                        {% if request.user.is_superuser %}
                        <div class="mb-3">
                            <small class="prod-text">
                                <a href="{% url 'edit_product' product.id %}">Edit</a> |
                                <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                            </small>
                        </div>
                        {% endif %}


                        <div class="form-group d-inline">
                            <div class="mb-3 input-group">
                                <div class="input-group-prepend d-inline-block">
                                    <button class="decrement-qty border-0 rounded-0" data-item_id="{{ product.id }}"
                                        id="decrement-qty_{{ product.id }}">
                                        <span class="icon text-black">
                                            <i class="fas fa-minus"></i>
                                        </span>
                                    </button>
                                </div>
                                <div class="qty-box rounded-1 d-inline-block"><input class="form-control qty_input"
                                        type="number" name="quantity" value="1" min="1" max="99"
                                        data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}"></div>
                                <div class="input-group-append d-inline-block">
                                    <button class="increment-qty border-0 rounded-0" data-item_id="{{ product.id }}"
                                        id="increment-qty_{{ product.id }}">
                                        <span class="icon text-black">
                                            <i class="fas fa-plus"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                            <div>
                                <input type="submit" class="btn text-uppercase basket-btn  btn-primary flex-shrink-0"
                                    type="button" value="Add to basket">
                            </div>
                        </div>


                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        <a href="{% url 'products' %}" class="btn btn-secondary shop-basket-btn rounded-1 mt-2">
                            <span class="icon text-white">
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span class="text-uppercase">Keep Shopping</span>
                        </a>
                </div>
                {% endwith %}

                </form>
            </div>

        </div>
        <hr class="text-muted">



        <!-- Reviews -->
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="subtitle mb-3">Reviews</h2>
                    <div class="reviews-wrapper">
                        {% for review in product.reviews.all %}
                        <div class="notification space-below">
                            {% if review.rating is 1 %}
                            <p><i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i></p>

                            {% elif review.rating is 2 %}
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i></p>
                            {% elif review.rating is 3 %}

                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i></p>
                            {% elif review.rating is 4%}
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i></p>
                            {% else %}
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i></p>
                            {% endif %}

                            <div class="container">
                                <div class="row">
                                    <div class="">
                                        <div class="review-elements">
                                        <p class="card-title">{{ review.title }} </p>
                                        <p class=" text-muted">{{ review.content }}</p>
                                            </div>
                                        <p class="small text-muted"> by {{ review.user }} on
                                            {{ review.date_added|date:"d-m-Y"}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                          
                            {% if current_user or request.user.is_superuser %}
                            <div class="card-head text-right">
                                <a class="btn btn-info edit-btn" href="{% url 'edit_review' review.id %}">
                                    Edit Review
                                </a>
                            </div>
                            
                            {% endif %}
                         
                            <hr class="text-muted w-50">
                        </div>
                        {% empty %}
                        <div class="notification space-below">
                            No reviews yet... be the first one to review this product.
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="col-md-6">

                    <h2 class="subtitle mb-3">Write a Review</h2>
                    <div class="notification space-below w-200">
                        {% if request.user.is_authenticated %}
                        
                        <form method="post" action="{% url 'add_review' product.id %}">
                            {% csrf_token %}

                            <div class="control border-0 rounded-1 w-25">
                                Rating
                                {{ review_form.rating | as_crispy_field }}
                            </div>
                            <div class="control border-0 rounded-1 w-75">
                                Review Title
                                {{ review_form.title | as_crispy_field }}
                                Write your review below
                                {{ review_form.content | as_crispy_field }}
                            </div>
                            <div class="field">
                                <div class="control">
                                    <button class="btn btn-primary">Submit Review</button>
                                </div>
                            </div>
                        </form>
                        {% if edit %}
                        Edit Review Form
                        <form method="POST" action="{% url 'edit_review' review.id %}#reviews">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <div class="text-right">
                                <button class="btn btn-info font-weight-bold" type="submit">Update Review</button>
                            </div>
                        </form>
                        {% endif %}
                        {% else %}
                        <p>Please <a href="{% url 'account_login' %}">sign in</a> or <a href="{% url 'account_signup' %}"> register</a> to add review!</p>
                        {% endif %}
                    </div>
                  
                </div>


            </div>
        </div>
</section>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/product_quantity_script.html' %}
{% endblock %}