{% extends "base.html" %}
{% load static %}



{% block content %}

<section class="py-5">
    <div class="overlay">


    </div>

    <div class="container pt-5 text-center mt-3">


        {% for c in current_categories %}
        <a class="text-decoration-none" href="{% url 'products' %}?category={{ c.name }}">
            <span class="p-2 mt-2 badge btn-primary rounded-1 border border-dark">{{ c.friendly_name }}</span>
        </a>

        {% endfor %}

        <div class="row mt-1 mb-2">
            <div
                class="col-12 col-md-5 offset-md-1 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                <div class="sort-select-wrapper w-50">
                    <select id="sort-selector"
                        class="custom-select custom-select-sm rounded-1 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                        <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...
                        </option>
                        <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low
                            to high)</option>
                        <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price
                            (high to low)</option>
                        <option value="calory_asc" {% if current_sorting == 'calory_asc' %}selected{% endif %}>Calory
                            Count (low to high)</option>
                        <option value="calory_desc" {% if current_sorting == 'calory_desc' %}selected{% endif %}>Calory
                            Count (high to low)</option>
                        <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)
                        </option>
                        <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)
                        </option>
                        <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>
                            Category (A-Z)</option>
                        <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>
                            Category (Z-A)</option>
                        <option value="vegan_desc" {% if current_sorting == 'vegan_desc' %}selected{% endif %}>Vegan
                            (show first)</option>
                        <option value="vegetarian_desc"
                            {% if current_sorting == 'vegetarian_desc' %}selected{% endif %}>Vegetarian (show first)
                        </option>
                        <option value="gluten_asc" {% if current_sorting == 'gluten_asc' %}selected{% endif %}>
                            Gluten-free (show first)</option>

                    </select>
                </div>
            </div>
            <div class="col-12 col-md-5 order-md-first">
                <p class="prod-text text-muted mt-3 text-center text-md-left">
                    {% if search_term or current_categories or current_sorting != 'None_None' %}
                    <span class="small"><a href="{% url 'products' %}">Products Home</a> | </span>
                    {% endif %}
                    {{ products|length }} Products{% if search_term %} found for
                    <strong>"{{ search_term }}"</strong>{% endif %}
                </p>
            </div>
        </div>







        <div class="container px-4 px-lg-5 mt-5">

            <div class="row gx-4 gx-lg-5 row-cols-1 row-cols-md-2 row-cols-xl-4 justify-content-center">
                {% for product in products %}
                <div class="col mb-5">
                    <div class="card h-100">
                        {% if product.lunch_deal %}
                        <div class="badge btn-primary position-absolute"><a>Lunch Deal Item</a>
                        </div>
                        {% else %}
                        <div></div>
                        {% endif %}
                        <!-- Product image-->
                        {% if product.image %}
                        <a href="{% url 'product_detail' product.id %}">
                            <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.name }}" />
                        </a>
                        {% else %}
                        <a href="{% url 'product_detail' product.id %}">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png"
                                alt="{{ product.name }}">
                        </a>
                        {% endif %}
                        <div class="card-body p-4">
                            <div class="text-center">
                                <h5 class="fw-bolder">{{ product.name }} </h5>
                            </div>
                        </div>
                        {% if product.category %}

                        <div class="text-center">
                            <a href="{% url 'products' %}?category={{ product.category.name }}"
                                class="text-decoration-none prod-info-cat">
                                <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                            </a>
                        </div>

                        {% endif %}

                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            {% if product.gluten %}
                            <div></div>
                            {% else %}
                            <img src="{% static 'assets/gluten-free.png' %}" class="rounded-1">
                            {% endif %}
                            {% if product.vegetarian%}
                            <img src="{% static 'assets/vegetarian.png' %}" class="rounded-1">
                            {% else %}
                            <div></div>
                            {% endif %}
                            {% if product.vegan%}
                            <img src="{% static 'assets/vegan.png' %}" class="rounded-1">
                            {% else %}
                            <div></div>
                            {% endif %}
                            <div class="text-center">€ {{ product.price }}</div>

                        </div>
                    </div>
                </div>

                {% endfor%}
</section>
<div class="btt-button shadow-sm rounded-1 border border-black">
    <a class="btt-link d-flex h-100">
        <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
    </a>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/scroll_to_top.html' %}
{% include 'products/includes/sort_products.html' %}
{% endblock %}