{% extends "base.html" %}
{% load static %}




{% block content %}

<section class="py-5">
    <div class="overlay"></div>

    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">

            <div class="col-md-6">
                
                {% if product.image %}
                <a href="{{ product.image.url }}" target="_blank">
                    <img class="card-img-top rounded-0" src="{{ product.image.url }}" alt="{{ product.name }}" />
                </a>
                {% else %}
                <a href="{{ product.image.url }}" target="_blank">
                    <img class="card-img-top img-fluid rounded-0" src="{{ MEDIA_URL }}noimage.png"
                        alt="{{ product.name }}">
                </a>
                {% endif %}</div>
            <div class="col-md-6">
            
                <h1 class=" display-6 description fw-bolder">{{ product.name }}</h1>
                <p class="lead">{{ product.description }}</p>

                {% if product.category %}
                <div class="fs-5 mb-2">
                    <span class="product-info"> <a class="text-decoration-none product-info" href="{% url 'products' %}?category={{ product.category.name }}">
                        <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                    </a></span>
                </div>
                {% endif %}
                
            
                <div class="fs-5 mb-2">

                    <span class="product-info">{{ product.calory_count }} kcal per portion</span>
                </div>

                {% if product.has_gluten %}
                <div></div>

                {% else %}
                <div class="fs-5 mb-2">

                    <span class="product-info">Gluten-free <i class="fas fa-check me-1"></i></span>
                </div>
                {% endif %}

                {% if product.is_vegetarian %}
                <div class="fs-5 mb-2">

                    <span class="product-info">Vegetarian <i class="fas fa-check me-1"></i></span>
                </div>
                

                {% else %}
                <div></div>
                {% endif %}

                {% if product.is_vegan %}
                <div class="fs-5 mb-2">

                    <span class="product-info">Vegan <i class="fas fa-check me-1"></i></span>
                </div>
                

                {% else %}
                <div></div>
                {% endif %}

                {% if product.option_grilled %}
                <div class="fs-5 mb-2">

                    <span class="product-info">Grilled at request <i class="fas fa-check me-1"></i></span>
                </div>
                

                {% else %}
                <div></div>
                {% endif %}


                {% if product.lunch_deal %}
                <div class="fs-5 mb-2">

                    <span class="product-info"><a href="#" class="text-decoration-none product-info">Lunch Deal Item </a><i class="fas fa-check me-1"></i></span>
                </div>
                

                {% else %}
                <div></div>
                {% endif %}

             
                
                <div class="fs-5 mb-3">

                    <span class="price-info">€ {{ product.price }} *</span><span class="price-info-small">  price always refers to single bottle / can / bag of items even if image is different</span>
                </div>
                <div class="d-flex">
                    <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1"
                        style="max-width: 3rem" />{{ product.quantity }}
                    <button class="btn btn-outline-dark btn-primary flex-shrink-0" type="button">
                        <i class="fas fa-shopping-basket me-1"></i>
                        Add to basket
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}